ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

#pswd_info {
    display:none;
}

.invalid {
    background-color: antiquewhite;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}

.valid {
    background-color: antiquewhite;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}